<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Page</title>

        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>A weather website uses data from weatherstack.com and geocode.maps.co </p>
            <img class="portrait" src="/img/img.jpeg" alt="Image not found">
        </div>
        
        {{>footer}}
    </body>
</html>